@font-face {
    font-family: "Anonymous Pro";
    src: url("./fonts/AnonymousPro-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}


:root {
    font-family: "Anonymous Pro", monospace;
    font-size: 24px;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1rem;
}

li {
    padding: 1rem;
    background-color: #000;
    border: 0.125rem solid #fff;
}

li:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}