body {
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    background-color: #0f0f0f;
}

:root {
    font-family: monospace;
    font-size: 24px;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
